name: Build

permissions:
  contents: write

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: ${{ github.repository }}
          ref: ${{ github.event_name == 'pull_request' && github.head_ref || github.ref_name }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
          activate-environment: true

      - name: Set up Python
        run: uv python install --directory scripts/

      - name: Install HOA CLI
        run: uv tool install git+https://github.com/HITSZ-OpenAuto/hoa-majors.git

      - name: Install the project
        run: uv sync --locked --directory scripts/

      - name: Build course pages
        run: uv run scripts/main.py

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Actions"
          git add content/
          git commit -m "docs: update course pages" || exit 0
          git pull --rebase
          git push origin HEAD
